<%= link_to '#', class: 'pull-right', 'data-dismiss' => 'modal', 'aria-label' => 'Close' do %>
  <span aria-hidden="true"><i class="glyphicon glyphicon-off"></i></span>
<% end %>

<h3 class="center">My Cart</h3>

<div class="entry">
  <table>
    <% current_cart.line_items.order(:created_at).each_with_index do |item, i| %>
      <% if item == @current_item %>
        <tr id="current_item" class="<%= cycle('line-even', 'line-odd') %>">
      <% else %>
        <tr class="<%= cycle('line-even', 'line-odd') %>">
      <% end %>

      <td><%= i+1 %></td>
      <td><%= item.product.title %></td>
      <td>
        <%= form_for item, remote: true do |f| %>
          <%= f.number_field :quantity, in: 1...101, class: 'qty-field' %>
          <%= f.button '', class: 'btn-main glyphicon glyphicon-refresh', title: 'Save' %>
        <% end %>
      </td>
      <td class="control-links">
        <%= number_to_currency(item.total_price) %>
        <%= link_to '', item, method: :delete, class: 'del-but', title: 'Delete', remote: true %>
      </td>
      </tr>
    <% end %>

    <tr class="table-total-line item-price">
      <td id="sum-price" colspan="4">Total : <%= number_to_currency(cart.total_price) %></td>
    </tr>
  </table>
</div>

<div class="bottom-line">
  <%= link_to '#', class: 'btn-main', 'data-dismiss' => 'modal', 'aria-label' => 'Close' do %>
    <span aria-hidden="true"><i class="glyphicon glyphicon-level-up"></i> Hide Cart</span>
  <% end %>

  <%= link_to current_cart, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-delete' do %>
    <i class="glyphicon glyphicon-remove"></i> Empty cart
  <% end %>

  <%= link_to new_order_path, class: 'btn-confirm pull-right' do %>
    <i class="glyphicon glyphicon-ok"></i> Make Order
  <% end %>
</div>
