<h2>Carts index</h2>
<hr>
<table>
  <% @carts.each_with_index do |cart, i| %>
    <tr class="<%= cycle('line-even', 'line-odd') %>">
      <td><%= i+1 %></td>
      <td>Cart ID: <%= cart.id %></td>
      <td>
        <%= link_to cart do %>
          <%= cart.created_at.strftime '%Y.%m.%d - %H:%M:%S' %>
        <% end %>
      </td>
      <td><%= number_to_currency(cart.total_price) %></td>
      <td class="control-links">
        <%= link_to '', cart, class: 'show-but',
                    title: 'Show', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
        <%= link_to '', cart, method: :delete, class: 'del-but',
                    title: 'Destroy', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
      </td>
    </tr>
  <% end %>
</table>
<hr>
