<h3 class="center">Cart ID: <%= @cart.id %></h3>

<div class="entry">
  <table>
    <% @cart.line_items.order(:created_at).each_with_index do |item, i| %>
      <tr class="<%= cycle('line-even', 'line-odd') %>">
        <td><%= i+1 %></td>
        <td><%= item.product.title %></td>
        <td>
          <%= form_for item do |f| %>
            <%= f.number_field :quantity, in: 1...101, class: 'qty-field' %>
            <%= f.button '', class: 'btn-main glyphicon glyphicon-refresh', title: 'Save' %>
          <% end %>
        </td>
        <td class="control-links">
          <%= number_to_currency(item.total_price) %>
          <%= link_to '', item, method: :delete, class: 'del-but', title: 'Delete' %>
        </td>
      </tr>
    <% end %>
    <tr class="table-total-line item-price">
      <td id="sum-price" colspan="4">Total : <%= number_to_currency(@cart.total_price) %></td>
    </tr>
  </table>
</div>

<div class="bottom-line center">
  <%= link_to '', :back, class: 'back-but', title: 'Return',
              data: { toggle: 'tooltip', placement: 'top' } %>

  <%= link_to '', @cart, method: :delete, class: 'del-but', title: 'Delete cart',
              data: { confirm: 'You sure?', toggle: 'tooltip', placement: 'top' } %>

  <% if cookies[:cart_id].present? && @cart == current_cart %>
    <%= link_to '', new_order_path, id: 'control-but', class: 'glyphicon glyphicon-play-circle',
                title: 'Create order', data: { toggle: 'tooltip', placement: 'top' } %>
  <% end %>
</div>
