<h3 class="center"><%= @product.title %></h3>

<div class="entry">
  <%= image_tag @product.image_url, class: 'pull-left' %>
  <%= @product.description.html_safe %>

  <div class="last_line">
    <span class="price"><%= number_to_currency @product.price %></span>
    <%= button_to line_items_path(product_id: @product), class: 'btn-main', remote: true do %>
      <i class="glyphicon glyphicon-shopping-cart"></i> Add to Cart
    <% end %>
  </div>

</div>

<div class="bottom-line center">
  <%= link_to '', products_path, class: 'back-but',
              title: 'Back to products', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
  <%= link_to '', edit_product_path(@product), class: 'edit-but',
              title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
  <%= link_to '', @product, method: :delete, data: {confirm: 'You sure?'}, class: 'del-but',
              title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
</div>
