<h3 class="center"><%= @product.title %></h3>

<div class="entry">
  <%= image_tag @product.image_url, class: 'pull-left' %>
  <%= @product.description.html_safe %>

  <div class="last_line">
    <span class="price"><%= number_to_currency @product.price %></span>
    <%= button_to line_items_path(product_id: @product), class: 'btn-main', remote: true do %>
      <i class="glyphicon glyphicon-shopping-cart"></i> Add to Cart
    <% end %>
  </div>

</div>

<div class="bottom-line center">
  <%= link_to '', :back, class: 'back-but', title: 'Return',
              data: { toggle: 'tooltip', placement: 'top' } %>
  <%= link_to '', edit_product_path(@product), class: 'edit-but', title: 'Edit',
              data: { toggle: 'tooltip', placement: 'top' } %>
  <%= link_to '', @product, method: :delete, class: 'del-but', title: 'Delete',
              data: { confirm: 'You sure?', toggle: 'tooltip', placement: 'top' } %>
</div>
