<div class="row">
  <% cache ['store', Product.latest] do %>
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <% cache ['entry', product] do %>
          <div class="entry">
            <%= image_tag product.image_url, class: 'pull-left' %>
            <h4 class="center"><%= product.title %></h4>
            <%= sanitize(product.description.truncate(180)).html_safe %>
            <div class="last_line">
              <span class="price"><%= number_to_currency product.price %></span>
              <%= button_to line_items_path(product_id: product), class: 'btn-main', remote: true do %>
                <i class="glyphicon glyphicon-shopping-cart"></i> Add to Cart
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
