<header class="navbar-fixed-top">
  <%= content_tag(:span, Time.zone.now.strftime('%d.%m.%Y'), class: 'pull-left btn nav-but') %>
  <div class="pan-container">

    <%= link_to store_path, class: 'btn nav-but' do %>
      <i class="glyphicon glyphicon-home"></i> Home
    <% end %>

    <div class="btn-group">
      <a href="#" class="dropdown-toggle btn nav-but" data-toggle="dropdown">
        <i class="glyphicon glyphicon-info-sign"></i> Info
        <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Questions', '#' %></li>
        <li><%= link_to 'News', '#' %></li>
        <li><%= link_to 'Contact', '#' %></li>
      </ul>
    </div>

    <%= link_to products_path, class: 'btn nav-but' do %>
      <i class="glyphicon glyphicon-th-list"></i> Products
    <% end %>
    <%= link_to orders_path, class: 'btn nav-but' do %>
      <i class="glyphicon glyphicon-list-alt"></i> Orders
    <% end %>

    <%= link_to carts_path, class: 'btn nav-but' do %>
      <i class="glyphicon glyphicon-qrcode"></i> All Carts
    <% end %>

    <% if session[:cart_id].present? %>
      <span data-toggle="modal" data-target=".cart-mod">
        <%= link_to '#', class: 'btn nav-but nav-my-cart' do %>
          <i class="glyphicon glyphicon-shopping-cart"></i>
          &nbsp;My Cart (<%= pluralize current_cart.line_items.count, 'item' %>)
        <% end %>
      </span>
    <% end %>

  </div>
</header>
