<header class="navbar-fixed-top">

  <div class="pan-container">

    <%= content_tag(:span, Time.zone.now.strftime('%d.%m.%Y'), class: 'pull-left btn nav-but') %>

    <%= link_to store_path, class: 'btn nav-but' do %>
      <i class="glyphicon glyphicon-home"></i> Home
    <% end %>

    <div class="btn-group">
      <a href="#" class="dropdown-toggle btn nav-but" data-toggle="dropdown">
        <i class="glyphicon glyphicon-info-sign"></i> Info
        <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Questions', '#' %></li>
        <li><%= link_to 'News', '#' %></li>
        <li><%= link_to 'Contact', '#' %></li>
      </ul>
    </div>

    <% if current_user.try(:admin?) %>
      <div class="btn-group">
        <a href="#" class="dropdown-toggle btn nav-but" data-toggle="dropdown">
          <i class="glyphicon glyphicon-eye-close"></i> Admin zone
          <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to products_path do %>
              <i class="glyphicon glyphicon-th-list"></i> Products
            <% end %>
          </li>
          <li>
            <%= link_to new_product_path, class: 'dropdown-header pull-right' do %>
              <i class="glyphicon glyphicon-arrow-right"></i> New product
            <% end %>
          </li>
          <li>
            <%= link_to orders_path do %>
              <i class="glyphicon glyphicon-list-alt"></i> Orders
            <% end %>
          </li>
          <li>
            <%= link_to carts_path do %>
              <i class="glyphicon glyphicon-qrcode"></i> Carts
            <% end %>
          </li>
          <li>
            <%= link_to users_path do %>
              <i class="glyphicon glyphicon-user"></i> Users
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>

    <% if logged_in? %>
      <div class="btn-group pull-right">
        <a href="#" class="dropdown-toggle btn nav-but" data-toggle="dropdown">
          <i class="glyphicon glyphicon-star"></i> <%= current_user.name %>
          <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Show my profile', current_user %></li>
          <li><%= link_to 'Edit my profile', edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li><%= link_to 'Logout', logout_path, method: 'delete' %></li>
        </ul>
      </div>
    <% else %>
      <%= link_to login_path, class: 'btn nav-but pull-right' do %>
        <i class="glyphicon glyphicon-user"></i> User Login
      <% end %>
    <% end %>

    <% if cookies[:cart_id].present? && !current_cart.nil? %>
      <span data-toggle="modal" data-target=".cart-mod">
        <%= link_to '#', class: 'btn nav-but nav-my-cart' do %>
          <i class="glyphicon glyphicon-shopping-cart"></i>
          &nbsp;My Cart (<%= pluralize current_cart.line_items.count, 'item' %>)
        <% end %>
      </span>
    <% end %>

  </div>
</header>
